* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Grid measurements:
 *
 *   960px wide including 12 gutters (half gutters on both edges)
 *
 *   60px columns (12)
 *   20px gutters (two half-gutters + 11 full gutters, so 12 total)
 *
 *
 *   For smaller screens, we always want 20px of padding on either side,
 *   so 960 + 20 + 20 => 1000px
 *
 **/


body { 
  background: url(images/food_items.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0px;
}

.nav-bar {
  background-color: white;
  height: 125px;
  text-align: center;
}
.nav-text {
  padding-top: 20px;
  top: 50%;
}
.initiate-button {
  padding-top: 15%;
}

.initiate-button button {
  background-color: white;
  border-radius:50%;
  display: block;
  font-size: 250%;
  height: 200px;
  margin: auto;
  text-align: center;
  /*width: 100px;*/
  vertical-align: middle;
  width: 200px;

}
.row {
  margin: 0 auto;
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-3, .col-4, .col-6, .col-12 {
  float: left;

  /* Gutters:
   * Each column is padded by half-a-gutter on each side,
   *
   * Half a gutter is 10px, 10/960 (context) = 1.041666%
   *
   */
padding-left: 1.041666666%;
padding-right: 1.04166666%;
}




/* Mobile defaults */
.col-3, .col-4, .col-6, .col-12 {
  width: 100%;
}


/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  /* 3 columns, 3/12 in % */
  .col-3 {
    width: 25%;
  }

  /* 4 columns, 4/12 in % */
  .col-4 {
    width: 33.333333%;
  }

  /* 6 columns, 6/12 in % */
  .col-6 {
    width: 50%;
  }

  /* 12 columns, 12/12 in % */
  .col-12 {
    width: 100%;
  }
}

.js-results {
  margin-bottom: 150px;
}

.recipe-card {
  height: 430px;
  background-color: white;
  text-align: center;

}

.recipe-title {
  background-color: #E5E5E5;
  font-size: 18px;
  height: 60px;
  padding: 10px;
  text-align: center;
}

.results-img {
  height: 60%;
  max-width: 380px;
  margin-left: auto;
  margin-right: auto;
}

.recipe-card-actions button {
  background-color: #2a2928;
  color: #E5E5E5;
  display: block;
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-color: #2a2928;
  border-radius: 5px;

  
}

.recipe-card-actions button:last-child {
  margin-bottom: 10px;
}


/*<span>x

$('.modal').css('display', 'none')*/





.modal {
  background-color: rgba(0,0,0,0.4);
  
  display:none;
  height:100%;
  width:100%;
}

.modal-content {
  background-color: white;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 6px;
  padding: 10px 20px 20px 20px;
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin: auto;

  height:500px;
  width:80%;
}



.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-right: 10px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.modal-body {
  padding-top: 20px;
}

.recipe-button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
}

