* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Grid measurements:
 *
 *   960px wide including 12 gutters (half gutters on both edges)
 *
 *   60px columns (12)
 *   20px gutters (two half-gutters + 11 full gutters, so 12 total)
 *
 *
 *   For smaller screens, we always want 20px of padding on either side,
 *   so 960 + 20 + 20 => 1000px
 *
 **/


body { 
  background: url(images/food_items.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0px;
}

.nav-bar {
  background-color: white;
  height: 125px;
  text-align: center;
}
.nav-text {
  padding-top: 20px;
  top: 50%;
}
h1 {
  font-size: 50px;
  margin: 0;
}
.initiate-button {
  padding-top: 15%;
}

.initiate-button button {
  background-color: white;
  border-radius:50%;
  display: block;
  font-size: 250%;
  height: 200px;
  margin: auto;
  text-align: center;
  /*width: 100px;*/
  vertical-align: middle;
  width: 200px;

}
.row {
  margin: 0 auto;
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-3, .col-4, .col-6, .col-12 {
  float: left;

  /* Gutters:
   * Each column is padded by half-a-gutter on each side,
   *
   * Half a gutter is 10px, 10/960 (context) = 1.041666%
   *
   */
padding-left: 1.041666666%;
padding-right: 1.04166666%;
}




/* Mobile defaults */
.col-3, .col-4, .col-6, .col-12 {
  width: 100%;
}



/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  /* 3 columns, 3/12 in % */
  .col-3 {
    width: 25%;
  }

  .results-img {
    max-width:;
  }

  /* 4 columns, 4/12 in % */
  .col-4 {
    width: 33.333333%;
  }

  /* 6 columns, 6/12 in % */
  .col-6 {
    width: 50%;
  }

  /* 12 columns, 12/12 in % */
  .col-12 {
    width: 100%;
  }
}

.js-results {
  margin-bottom: 150px;
}

.recipe-card {
  height: 430px;
  background-color: white;
  text-align: center;

}

.recipe-title {
  background-color: #E5E5E5;
  font-size: 18px;
  height: 60px;
  padding: 10px;
  text-align: center;
}

.results-img {
  height: 60%;
  max-width: 380px;
  margin-left: auto;
  margin-right: auto;
}

.recipe-card-actions button {
  background-color: #E5E5E5;
  color: #4b4a47;
  display: block;
  font-size: 15px;
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 22px;
  text-align: center;
  border:none;
  /*border-radius: 5px;*/
  width: 180px;
  
}

.recipe-card-actions button:hover,
.recipe-card-actions button:focus {
  color: white;
  background-color: black;
  border: none;
}


/*

.recipe-card-actions button:last-child {
  margin-bottom: 10px;

}*/




.modal {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  display:none;
  height:100%;
  left: 0;
  position: fixed;
  top: 0;
  width:100%;
}

.modal-content {

  background-color: white;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 6px;
  padding: 10px 20px 20px 20px;
  overflow: scroll;
  position: fixed;
  top: 25%;
  bottom:25%;
  left:0;
  right:0;
  margin: auto;
  height:500px;
  width:600px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:25%; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:25%; opacity:1}
}



.close {
    color: #aaa;
    cursor: pointer;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-right: 10px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
.modal-header h2 {
  margin: 20 0;
}
.modal-body {
  /*border-bottom: 1px solid rgba(0,0,0,0.2);*/
  padding-bottom: 20px;
}


.recipe-button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
}



body .modal-open {
  overflow: hidden;
}
button:hover, button:focus {
  color: black;
  background-color: #e5e5e5;
  border: none;
  cursor: pointer;
}

.modal-footer {
  border-top: 1px solid rgba(0,0,0,0.2);
  position: static;
  bottom: 0;
  padding: 25px 0;

}
.modal-buttons-footer {
  padding-top: 1%;
}
.modal-button {
  background-color: #e5e5e5;
  border: none;
  border-radius: 6px;
  color: black;
  display: inline-block;
  font-size: 20px;
  float: right;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  margin: 0 4px 0 4px;
}

.modal-button:hover,
.modal-button:focus {
  color: white;
  background-color: black;
  border: none;
}
/*.big-button:hover,
.big-button:focus {
  color: black;
  background-color: #e5e5e5;
  border: none;
}

.view-ingredients:hover,
.view-ingredients:focus {
  color: black;
  background-color: #e5e5e5;
  border:none;
}

.add-to-list:hover,
.add-to-list:focus {
  color: black;
  background-color: #e5e5e5;
  border: none;
}*/

@media only screen and (min-width: 600px ) and (max-width: 900px) {
  .results-img {
    max-width: 150px;
    max-height: 150px;
  }
  .recipe-card {
    height: 250px;
  }
}